.item1 {
    grid-area: myArea;
}

.grid-container {
    margin-top: 50px;
    display: grid;
    grid-template-areas: 'myArea myArea myArea myArea myArea';
    gap: 10px;
    background-color: pink;
    padding: 10px;
    border-radius: 25px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    border-radius: 25px;
}

h1 {
    background-color: darkslategray;
    border: lavenderblush ridge;
    text-align: center;
    color: lavender;
}