#body {
    background-color: #9D9171;
    color: lavenderblush;
}


.item1 {
    grid-area: myArea;
    border: #B07156 solid 5px;
}

.item2 {
    text-align: center;
    width: 435px;
    position: relative;
    left: 5px;
}

.grid-container {
    margin-top: 50px;
    display: grid;
    grid-template-areas: 'myArea myArea myArea myArea myArea';
    gap: 10px;
    background-color: #533745;
    padding: 10px;
    border-radius: 25px;
    width: 100px;

}

.grid-container > div {
    background-color: #AB4E68;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    border-radius: 25px;
}

h1 {
    background-color: darkslategray;
    border: lavenderblush ridge;
    text-align: center;
    color: lavender;
}